.card {
  margin: auto;
  padding: 20px;
  margin-top: 48px;
  min-height: 80vh;
  position: relative;
}

.chats {
  margin-top: 48px;
  max-height: 65vh;
  min-height: 350px;
  overflow: auto;
}

.message-box {
  position: absolute;
  bottom: 30px;
}

@media (max-width: 768px) {
  .chat-card-content {
    padding: 0px !important;
  }
}
